* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body,
html {
  font-family: 'Poiret One', cursive;
  margin: 0;
  padding: 0;
  height: 100%;
  background: radial-gradient(white, #0a5796, black);
}

.container > #self-img {
  text-align: center;
  height: 150px;
  border-radius: 100%;
  margin: 0 auto;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: 180px auto 100px;
  grid-template-columns: 1fr 2fr 2fr;
}

.grid header {
  box-shadow: 5px 10px 5px black;
  justify-content: center;
  font-size: 30px;
  grid-area: header;
  display: block;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.grid header .container#main-logo {
  display: block;
  margin: inherit;
  text-align: center;
  align-self: center;
  color: black;
  justify-content: center;
}

aside {
  display: block;
  border-top: 2px 0 black;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  grid-area: aside;
  box-shadow: -20px 10px 20px black;
}

aside ul {
  display: block;
}

aside ul li {
  display: block;
  padding: 20px;
}

aside ul li a {
  padding: inherit;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

aside ul a:hover {
  border-radius: 10px;
  text-decoration: underline;
}

main {
  display: block;
  grid-area: main;
  margin: 0 160px;
  border-radius: 2px;
  background-color: #4a5f69, #4a5f69;
}

#main-logo > .container {
  margin: 0 auto;
  line-height: 136px;
  width: auto;
  display: block;
  text-align: center;
  vertical-align: center;
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.container img {
  height: 80px;
  text-align: center;
  vertical-align: middle;
}

nav.container {
  box-shadow: 5px 5px 5px black;
}

footer {
  box-shadow: 5px -2px 10px rgba(0, 0, 0, 0.5);
  grid-area: footer;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}
