* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  height: 100%;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header nav nav" "main main main aside" "footer footer footer footer";
  grid-template-rows: 80px auto 100px;
  grid-template-columns: 1fr 4fr 2fr;
}

.main-header {
  grid-area: header;
  width: 70vw;
}

.main-header .logo-top {
  display: inline;
}

.main-header .logo-top .adlogo {
  height: 70px;
}

.main-nav__top {
  grid-area: nav;
  margin: 0 auto;
  display: inline;
}

.main-nav__top .main-nav__top__list {
  text-align: center;
  margin: 40px auto;
  display: block;
}

.main-nav__top .main-nav__top__list li {
  display: inline;
  padding-left: 15px;
}

.main-nav__top .main-nav__top__list li a {
  padding: 0 5px 0 5px;
}

.main-aside {
  grid-area: aside;
  display: none;
}

.main-aside .main-aside__list {
  margin: 10px 10px;
  height: 80%;
}

.main-aside .main-aside__list li {
  padding: 6px;
}

.main-content {
  grid-area: main;
  margin: 10px;
  padding: 10px;
}

.main-content .main-content-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.main-content .main-content__section {
  text-align: center;
  margin: 20px 0;
  background-color: #95b1f0;
  padding: 10px;
  width: 50%;
}

.main-content .main-content__section .section__title {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.main-content .main-content__section p {
  font-family: sans-serif;
  font-size: 1rem;
  padding: 20px 0 0 10px;
}

.main-footer {
  grid-area: footer;
}
