* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.grid {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header header"
                         // " . nav ."
                         "main main main"
                         "footer footer footer";
    // grid-template: [row1-start]"header header header header" 150px [row1-end]
    //                [row2-start]"nav nav nav nav" 50px[row2-end]
    //                [row3-start]"aside main main main" 1fr[row3-end]
    //                [row4-start]"aside footer footer footer" 100px[row4-end]
    //                / auto;
    grid-template-rows: 180px auto 100px; //nav 80px
    grid-template-columns: 1fr 4fr 1fr;
}


header{

}

nav {

}
