* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    height:100%;
}


.grid {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header nav"
                         "aside main main"
                         "footer footer footer";
    // grid-template: [row1-start]"header header header header" 150px [row1-end]
    //                [row2-start]"nav nav nav nav" 50px[row2-end]
    //                [row3-start]"aside main main main" 1fr[row3-end]
    //                [row4-start]"aside footer footer footer" 100px[row4-end]
    //                / auto;
    grid-template-rows: 120px auto 100px; //nav 80px
    grid-template-columns: 1fr 4fr 1fr;
}

.main-header{
    grid-area: header;
    width:70vw;
    .logo-top{
        display:inline;
        .adlogo{
            height:100px;

        }
    }
}

.main-nav__top{
    grid-area: nav;
    width:30vw;
    margin:0 auto;
    display:inline;
    .main-nav__top__list{
        text-align: center;
        margin:90px auto;
        display:block;
        li{
            display:inline;
            a{
                padding: 0 0 0 5px;
            }
        }
    }
}

.main-aside{
    grid-area: aside;
    .main-aside__list{
        margin: 10px 10px;
        height:80%;
            li{
                padding:6px;
                a{
            }
        }

    }
}

.main-footer{
    grid-area: footer;
}
