* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  height: 100%;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header nav" "aside main main" "footer footer footer";
  grid-template-rows: 120px auto 100px;
  grid-template-columns: 1fr 4fr 1fr;
}

.main-header {
  grid-area: header;
  width: 70vw;
}

.main-header .logo-top {
  display: inline;
}

.main-header .logo-top .adlogo {
  height: 100px;
}

.main-nav__top {
  grid-area: nav;
  width: 30vw;
  margin: 0 auto;
  display: inline;
}

.main-nav__top .main-nav__top__list {
  text-align: center;
  margin: 90px auto;
  display: block;
}

.main-nav__top .main-nav__top__list li {
  display: inline;
}

.main-nav__top .main-nav__top__list li a {
  padding: 0 0 0 5px;
}

.main-aside {
  grid-area: aside;
}

.main-aside .main-aside__list {
  margin: 10px 10px;
  height: 80%;
}

.main-aside .main-aside__list li {
  padding: 6px;
}

.main-footer {
  grid-area: footer;
}
